<h2>Sign up</h2>
<script src='https://www.google.com/recaptcha/api.js?render=6Ldj4X0UAAAAACCGGU2uLqm7znL0J2xNJbv3XjdE'></script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<script>
grecaptcha.ready(function() {
grecaptcha.execute('6Ldj4X0UAAAAACCGGU2uLqm7znL0J2xNJbv3XjdE', {action: 'action_name'})
.then(function(token) {
// Verify the token on the server.
});
});
</script>
<%= flash[:recaptcha_error] %>
<%= recaptcha_tags %>
<%= render "devise/shared/links" %>
